body{
  background-color: beige;
}
h2{
  text-align: center;
  
}
.signup{
  max-width: 450px;
  border-radius: 20px;
  margin:auto;
  background-color:rgb(0,0,0,0.8);
  padding: 40px;
  color: aliceblue;
  margin-top: 100px;

}
input[type=text],input[type=password]{

  width: 450px;
  box-sizing:border-box;
  padding: 12px 10px;
  background-color: rgba(0, 0, 0, 0.10);
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  color: rgb(223, 23, 23);
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;

}
input[type=submit]{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0 ;
  outline: none;
  border:none;
  background-color: aqua;
  opacity: 0.3;
  border-radius: 20px;
  font-size: 20px;
  color: rgb(0, 67, 125);
  cursor: pointer;
  transform: 1%;


  margin-top: 30px;
}
input[type=submit]:hover{
  opacity: 3;
}
span{
  color: chartreuse;
  font-size: 14px;
  
}